src/main/resources/control.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="Control">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Comando" type="xs:string" />
				<xs:element name="Destinatario" type="xs:string" />
				<xs:element name="Valor" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>